.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
body{
  width: 100%;
}
table{
  font-size: 25px;
}

}
.para {
  float: left;
}

  #middImg2{
  float: left;
    margin-left: 2%;
    border-radius: 25px;
    padding: 15px;
  }

#topImg{
  /* height: 50%;
  width: 50%;*/
margin-left: 15%;
    border-radius: 25px;
    padding: 15px;

}

h1{
  margin: 2%;
  float: left;
  text-align: center;
  font-size: 55px;
  color: gray;
  text-decoration: underline;

}
h2{
  text-align: center;

  color: gray;
  text-decoration: underline;

}
p{
  text-align: justify;
  padding: 10px;
}
.places{
  width:100%;
}
.site img{
  float: left;
  padding: 25px;
}
.site{

}
@media screen and (min-width: 1000px) {
  .places{
    width:100%;

  }
  .site{
    margin:1%;
    float: left;
    width:30%;
  }
  .site img{
    padding: 25px;
  }
  .site p
  {
    text-align: justify;
  }
}

@media screen and (min-width: 750px) {
 body{
width: 100%;
 }

  .p1, .p2, .p3{
    float: left;
    width: 30%;


  }



}
*/
